.middle-section {
    padding:  4px 40px;
}

.middle-section h4 {
    margin-bottom: 4px;
}

.middle-desc {
    font-size: 10px;
    color: #DCDCDC;
    line-height: 15px;
    margin-bottom: 20px;
    font-weight: 400;
}
